@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.rounded{
  border-radius: 10px;
}

a{
  color: #000000;
  padding: 8px;
  margin: 5px;
  text-decoration: none;
}
a:hover{
  color: #292929;
}
.leave-link{
  position: absolute;
  top: 0px;
  left: 0px;
}
.assets , .leave-link, .top-assets{
  margin: 5px;
  background-color: #ffffffaf;
  color: black;
  padding: 8px;

}
.assets {
  position: absolute;
  margin: 5px;
  min-width: 300px;
  bottom: 0px;
  right: 0px;
}
.top-assets{
  position: absolute;
  top:0px;
  right: 0px;
  text-align: center;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  min-width: 150px;
}
.top-assets .asset-item{
  padding: 10px;
}
.top-assets .asset-item:hover{
  background-color: #b1b1b1;
  cursor: pointer;
}
.ms-1{
  margin-left:.5em;
}
.ms-1{
  margin-left:1em;
}
.ms-1{
  margin-left:1.5em;
}
.ms-1{
  margin-left:2em;
}
.ms-1{
  margin-left:2.5em;
}
.ps-1{
  padding-left: .5em;
}
.ps-2{
  padding-left: 1em;
}
.ps-3{
  padding-left: 1.5em;
}
.ps-4{
  padding-left: 2em;
}
.ps-5{
  padding-left: 2.5em;
}
/* HTML: <div class="loader"></div> */
.loading-screen{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loader:before {
  content:"Loading..."
}
@keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}

.chat {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 400px;
  background: transparent;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
}
.chat-message-header.green {
  color: green;
}

.chat-message-header.blue {
  color: blue;
}

.chat-message-header.purple {
  color: purple;
}

.chat-message-header.yellow {
  color: yellow;
}

.chat-message-header.red {
  color: red;
}
.chat {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 400px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 0.8em;
}

.chat-header {
  padding: 0.5rem;
  background: transparent;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.chat-messages {
  display: flex;
  flex-direction: column-reverse; /* This will make the messages start from the bottom */
  overflow-y: auto;
  padding: 0.5rem;
  background: transparent;
}

.chat-message {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  background: transparent;
  color: white;
}

.chat-message-self {
  align-self: flex-end;
}

.chat-message-other {
  align-self: flex-start;
}

.chat-message-body {
  font-size: 0.8em;
  color: #fff;
}

.chat-input {
  display: flex;
  padding: 0.5rem;
  background: transparent;
  border-top: 1px solid #4444442f;
}

.chat-input input {
  background-color: #9e9e9e21;
  flex: 1;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.chat-input button {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background: #555555;
  color: #fff;
  cursor: pointer;
}

.chat-input button:hover {
  background: #666;
}
